@import './../../../style/color';

@media(max-width:375px){
    
    .empty-container{
        background-size: auto 100%;
    }
}

.empty-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("https://i.ibb.co/v3JWj0H/sad-Cart-Invert.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    &__title{
     margin-top: 3em;   
    }
    
}

.cartlist-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.products-container{
    border-spacing: 1px; 

    
    &__item{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 2vw;
    }

    &__image{
        height: 5em;
        width: 5em;
    }

    &__button{
        
        padding: 0.2em;
        width: 1.7em;
        text-decoration: none;
        margin-right: 5px;
        background-color: $lightBlue-pokemon;
        border: #3d3d3d 1px solid;
        border-radius: 4px;

        &--remove{
            padding: 0.2em;
            text-decoration: none;
            margin-right: 5px;
            background-color:$red-pokemon;
            border: #3d3d3d 1px solid;
            border-radius: 4px;
        }

        &__text{
            padding-left: 10px;
        }

    }

   
}

.screen{
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

