.Carousel-container{
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;

    
    &-image{
        height: 25vh;
        object-fit: contain;
    }
}
.jCKguF{
    width: 60vw;
}