@import '../../../style/color';

.detail-container{
    display: flex;
    align-items: center;
    height: 80vh;

    .image-container{
        margin: 0.5em;
        display: flex;
        align-items: center;
        height: 81vh;
        &__item{
            width: 60vw;
            height: 50vh;
            border: black solid 1px;
            border-radius: 20px;
        }
    } 
}

.information-container{
    
    &__button{
        cursor:pointer;
        text-decoration: none;
        background-color: $yellow-pokemon;
        width: 25vw;
        border: #3d3d3d 1px solid;
        border-radius: 4px;
        margin-top: 1em;
    }
    &__description{
        margin-top: 1em;
    }
    &__type{
        margin-top: 0.5em;
    }
    &__price{
        margin-top: 0.5em;
    }
}
