@import '../../../style/color';

.detail-container{
    display: flex;
    align-items: center;
    height: 70vh;
}

.image-container{
    height: 50vh;
    display: flex;
    align-items: center;
    border: black solid 1px;
    border-radius: 20px;
    margin: 0.5em;

    &__item{
        max-width:100%;
        max-height:100%;
    }
}


.information-container{
    width: 55vw;
    &__button{
        text-decoration: none;
        background-color:$yellow-pokemon;
        width: 25vw;
        border: #3d3d3d 1px solid;
        border-radius: 4px;
        margin-top: 1em;
        height: 5vh;
    }
    &__description{
        margin-top: 1em;
    }
    &__type{
        margin-top: 0.5em;
    }
    &__price{
        margin-top: 0.5em;
    }
}
